.slider {
 
    overflow: hidden;
    position: relative;
  }
  
  .slider-inner {
    display: flex;
    animation: moveLeft 10s linear infinite; /* Adjust the duration as needed */
  }
  
  .slider-item {
    flex: 0 0 auto;
    width: 100%;
    /* Add other styling for your items here */
  }
  
  @keyframes moveLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%); /* Move 100% to the left */
    }
  }
  